BETTER_AUTH_SECRET= # Generate a secure secret using a tool like `openssl rand -base64 32`
BETTER_AUTH_SECRET=your-secret
BETTER_AUTH_URL=http://localhost:3000
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
DATABASE_URL=postgres://postgres:password@postgres:5432/authdb
DATABASE_PASSWORD=password

